html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card {
  width: 200px;
  height: auto;
  transition: background-color 0.3s ease-in-out;
}

.card1 {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
  animation-fill-mode: both;

}

.card1:hover {
  background-image: url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser09.webp), url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser10.webp);
  background-position: top right, bottom left;
  animation: myfirst 5s;
  animation-direction: alternate;
}


.card2 {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.card2:hover {
  background-image: url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser09.webp), url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser10.webp);
  background-position: top right, bottom left;

}

.card3 {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;

}

.card3:hover {
  background-image: url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser09.webp), url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser10.webp);
  background-position: top right, bottom left;

}

.card4 {

  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.card4:hover {
  background-image: url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser09.webp), url(https://softek.radiantthemes.com/wp-content/uploads/2022/11/Ser10.webp);
  background-position: top right, bottom left;

}

.card-content {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

.text {
  color: #ffffff;

  text-decoration: none;

  display: inline-block;
  padding: 10px 10px;
  position: relative;
}

.text::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  display: block;
  background: "white";
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.text:hover::after {
  width: 100%;
  left: 0;
}

.text:hover {

  background: linear-gradient(45deg, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  cursor: pointer;
}

.text:hover {
  color: rgb(245, 245, 245);
}