.Minegrid {
    background-color: rgb(253, 253, 253);
}

.sections {
    position: relative;
    flex: row;
    padding-bottom: 50px;
}

.top-line-line{
background-image:url("assets/images/dash-img.png") ;
height: 2px;
width: 50px;
margin-left: -25px;
margin-bottom: 8px;
}

.vertical-line {
    background-image: url("assets/images/time-line-dashed.png");
    position: absolute;
    width: 2px;
    height: 100%;
    left: 50%;
}

.round{
position: absolute;
left: 50%;
width: 22px;
height: 22px;
background-color: #fff;
margin-left: -10px;
z-index: 1;
}

.img-container{
display: flex;
position: relative;
flex: 0 0 50%;
justify-content: center;
text-align: center;
}

.textBox {
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}


.h-line-dashed {
    background-image: url("assets/images/time-line-dashed.png");
    position: absolute;
    width: 30px;
    height: 2px;
}

.right {
    left: 50%;
}

.left {
    right: 50%;
}

.content-box {
    /* align-items: center;
    overflow: hidden; */
    box-shadow: 2px 5px 20px 0 rgba(23.00000000000011, 22.000000000000007, 138.99999999999994, .08);
    /* border-left: 8px solid #104cba; */
}

.number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.heading {
    font-weight: 600;
    color: "red";
}

/* ///////////////////////// */
.right-content-contianer {
    display: none;
}

.marginLeftPlus {
    margin-left: 30px !important;
}

.marginLeftMinus {
    margin-left: -30px !important;
}